{% extends 'header.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'variables.css' %}">
    <link rel="stylesheet" href="{% static 'Home/Home.css' %}">
    <script src="{% static 'Home/Home.js' %}"></script>
{% endblock %}

{% block content %}
<section>

    <h2 class="get_started">Get Started</h2>
    <div class="options">
        <div class="quiz_option option">
            <a href="/quiz">
                <h3>
                    Quiz
                </h3>
                <p>
                    Take this quiz and complete your information
                </p>
            </a>
        </div>
        <div class="routine_option option">
            <a href="/routines">
                <h3>
                    Routine
                </h3>
                <p>
                    Get your personal routine ( quiz required )
                </p>
            </a>
        </div>
        <form action="/product/search/" method="post" id="for_you_form" style="display: none;">
            {% csrf_token %}
        </form>
        <div class="for_you option" id="for_you">
            <div class="for_you_replacement" id="for_you_replacement">
                <h3>
                    For You
                </h3>
                <p>
                    Recommended products for your liking
                </p>
            </div>
        </div>
        <div class="all_products option">
            <a href="/product/search/">
                <h3>
                    Shop now!
                </h3>
                <p>
                    See all of our products
                </p>
            </a>
        </div>
    </div>

    <!-- {% for product in products %}
        <div class="product_container">
            <a href="{% url 'product_page' product.id %}">
                <div class="product_image_container">
                    <img class="product_image" src="{% static product.image_url %}" alt="loading failed">
                </div>
                <div class="product_name_container">
                    <h4 class="product_name">{{ product.name }}</h4>
                    <p class="skin_types">
                        for 
                        {% for skin in product.compatible_skin_types %}
                            {% if forloop.first %}
                            {{ skin }}
                            {% elif forloop.last %}
                            and {{ skin }}
                            {% else %}
                            , {{ skin }}
                            {% endif %}
                        {% endfor %}
                        skins.
                    </p>
                </div>
                <div class="price_and_rating">
                    <p class="rating">{{ product.rating }} <span class="star">&#9733;</span></p>
                    <p class="product_price">${{ product.price }}</p>
                </div>
            </a>
        </div>
    {% endfor %} -->
</section>
{% endblock %}

