{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Document
        {% endblock %}
    </title>

    {% block script %}
    <script src="https://kit.fontawesome.com/8104fe09a9.js" crossorigin="anonymous"></script>
    <script src="{% static 'header.js' %}"></script>
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

</head>
<body>
    {% block header %}
        <header>
            {% if user.is_authenticated %}
                <div class="icon_container">
                    <i class="fa-solid fa-moon" id="theme_toggle"></i>
                    <div class="dropdown_user_menu">
                        <i class="fa-solid fa-user menu_button" id="user_icon"></i>
                        <div class="menu_user_content" id="menu_user_content">
                            <!-- <a href="" class="menu_options">Setting</a> -->
                            <a href="/user/cart/" class="menu_options">Cart</a>
                            <a href="/user/logout/" class="menu_options">Log out</a>
                        </div>
                    </div>
                    <p class="username">{{ user.username }}</p>
                </div>
            {% else %}
                <div class="icon_container">
                    <i class="fa-solid fa-moon" id="theme_toggle"></i>
                    <a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    <p class="username">Login</p>
                </div>
            {% endif %}
                <form action="/product/search/" method="post" name="search" class="search_bar_form" id="search_bar_form">
                    {% csrf_token %}
                    <div class="search_bar_container">
                        <input name="search" type="text" class="search_bar"  placeholder="Search" id="search_bar">
                        <i class="fa-solid fa-magnifying-glass" id="search_button"></i>
                    </div>
                </form>
            {% if user.is_authenticated %}
                <ul class="nav_ul">
                    <a href="/"><li class="nav_options">Home</li></a>
                    <a href="/quiz"><li class="nav_options">Quiz</li></a>
                    <a href="/routines"><li class="nav_options">Routines</li></a>    
                    <div class="dropdown_user_menu">
                        <a href="/product/search/"><li class="nav_options menu_button" id="product_button">Products</li></a>
                        <div class="menu_products_content" id="menu_products_content">
                            <!-- <a href="" class="menu_options">Setting</a> -->
                            <a class="menu_options">Cleanser</a>
                            <a class="menu_options">Serum</a>
                            <a class="menu_options">Moisturizer</a>
                            <a class="menu_options">Toner</a>
                            <a class="menu_options">Sunscreen</a>
                        </div>
                    </div>
                </ul>
            {% else %}
            {% endif %}
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>