{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'variables.css' %}">
    <link rel="stylesheet" href="{% static 'Home/Home.css' %}">
    <script src="https://kit.fontawesome.com/8104fe09a9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <div class="icon_container">
                <a href="/user/account/{{user.id}}"><i class="fa-solid fa-user"></i></a>
                <p class="username">{{ user.username }}</p>
            </div>
            <ul>
                <a href=""><li class="options">Home</li></a>
                <a href="/quiz"><li class="options">Quiz</li></a>
                <a href="/routines"><li class="options">Routines</li></a>
                <a href="/user/logout"><li class="options">Log Out</li></a>
            </ul>
        {% else %}
            <div class="icon_container">
                <a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <p class="username">Login</p>
            </div>
        {% endif %}
        
    </header>
    <section>
        {% for product in products %}
            <a href="">
                <div class="product_container">
                    <div class="product_image_container">
                        <img class="product_image" src={{product.image_url}} alt="loading failed">
                    </div>
                    <div class="product_name_container">
                        <h4 class="product_name">{{product.name}}</h4>
                    </div>
                    <p class="product_price">{{product.price}} $</p>
                </div>
            </a>
        {% endfor %}
    </section>
    <nav></nav>
    
</body>
</html>