{% extends 'header.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'variables.css' %}">
    <link rel="stylesheet" href="{% static 'Users/Login.css' %}">
    <meta charset="UTF-8">
{% endblock %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    {% block header %}
    {% endblock %}
    <div class="login_container">
        <h2>Login</h2>
        <form method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <input type="text" name="username" id="username_input" placeholder="Username" autocomplete="off">
            <input type="password" name="password" id="password_input" placeholder="Password" autocomplete="off">
            <div class="error_container">
                {% if is_empty %}
                    <p style="color: red;">
                        no field can be empty
                    </p>
                {% elif is_wrong %}
                    <p style="color: red;">
                        incorrect username or password
                    </p>
                {% endif %}
            </div>
            <button type="submit">Login</button>
        </form>
        <p> Don't have an account? <a href="/user/signup">Sign Up</a></p>
        {% if form.errors %}
            <p style="color: red;">Invalid username or password.</p>
        {% endif %}
    </div>
{% endblock %}